/**************************************************************************
  * FONTS
  ***************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@400;500&family=Shrikhand&display=swap');

$base-font-family: 'Lato', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

/**************************************************************************
  * COLORS
  ***************************************************************************/

$color-primary : #FD2D01;
$color-secondary : #FFD7D7;
$color-tertiary : #4E5166;

$alert-color: #E00000;
$background-color: #FFFFFF;
$home-background-color: #F5F5F5;

$color-primary--darken : darken($color-primary, 4%);
$color-tertiary--darken : darken($color-tertiary, 4%);
$color-tertiary--lighten : lighten($color-tertiary, 30%);
$color-tertiary--disabled : lighten($color-tertiary, 47%);
$home-background-color--darken: darken($home-background-color, 4%);
$background-color--darken: darken($background-color, 10%);
$background-color--more-darken: darken($background-color--darken, 5%);